nav {
    top: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}
.container {
    margin: 0 20px;
}
.menu {
    list-style-type: none;
    display: flex;
    margin:auto;
    align-items: center;
    justify-content: space-between;
}
.rice {
    margin-left: -20px;
}
.respo {
    margin-right: 20px;
}
  
  .topnav a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid #FFFFFF;
  }
  
  .topnav a.active {
    border-bottom: 3px solid #FFFFFF;
  }

.solid {
    height: 1px;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -2px;
    opacity: 0.66;
}
  
.all {
    position: relative;
}
.ellipse {
    position: absolute;
}
.tiktok {
    position: absolute;
    top: 8px;
    left: 8px;
}

  
  
  
  
  
