@font-face {
  font-family: poppin;
  src: url(./Poppins/Poppins-Light.ttf);
}
* {
  margin: 0;
}
.App {
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background: transparent url('img/350e95122073867.60d25659ce776.png') 0% 0% no-repeat padding-box;
  background-position: center;
  background-size: cover;
  opacity: 1;
  font-family: poppin;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.text_top {
  font-size: 14px;
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;
    width: 394px;
    height: auto;
    opacity: 1;
    color: #DBDBDB;
}


.body_img {
  overflow: hidden;
  height: 36vh;
}

.leftimg {
  position: absolute;
    top: 14px;
    left: 50.560608px;
    width: 35vh;
    height: auto;
}

.rightimg {
  position: absolute;
  top: 10px;
  left: 90%;
  width: 35vh;
  height: auto;
  background: transparent;
  opacity: 1;
}

.pathimg {
top: 248px;
left: 1444px;
width: 25vh;
height: auto;
/* UI Properties */
border: 2px solid var(--unnamed-color-ffffff);
opacity: 1;
}

.a {
  position: relative;
  width: 400px;
  height: 60vh;
}
.b{
  position: absolute;
  left: -120px;
  width: 100px;
  height: auto;
}
.c {
  position: absolute;
  overflow: hidden;
  left: 1010px;  
  top: 30px;
  width: 410px;
  height: auto;
}
.d {
  position: absolute;
  left: 770px;  
  width: 504px;
  height: auto;
}
.under-text {
  position: absolute;
  left: 40px;
  text-align: left;
  opacity: 1;
  color: #DBDBDB;
}

.upper {
  position: absolute;
  left: 115px;
  width: 50vh;
  top: 199px;
  text-transform: uppercase;
  opacity: 1;
  color: #DBDBDB;
}
.big-text {
  text-transform: capitalize;
  -webkit-text-stroke-width: medium;
  font-size: 44px;
}
.pagination {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: auto;
}

.pagination a {
  color: #DBDBDB;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  font-weight: 900;
}

.number {
  width: 60%;
  margin: 0 20px;
}
.arrow {
  width: 20%;
}

.social {
  width: 30%;
}
.social a {
  margin-left:40px;
}

.arr{
  width: 58px;
  height: 35px;
}
.solid1{
  position: relative;
  height: 1px;
  background-color: #FFFFFF;
  /* margin-left: 20px; */
  /* margin-top: 42px; */
  top: 42px;
  left: 2vh;
  width: 70%;
  opacity: 0.66;
}
.line {
  border-bottom: 2px solid #FFFFFF;
}

@media only screen and (max-width: 1115px) {
  .c {
    left: 748px;  
  }
  .d {
    left: 510px;  
  }
  .social a {
    margin-left:30px;
  }
  
} 

