@font-face {
  font-family: poppin;
  src: url(./Poppins/Poppins-Light.ttf);
}
* {
  margin: 0;
}
.App {
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background: transparent url('img/back.png') 0% 0% no-repeat padding-box;
  background-position: center;
  background-size: cover;
  opacity: 1;
  font-family: poppin;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.text_top {
  font-size: 14px;
    text-align: left;
    margin-top: 40px;
    margin-left: 40px;
    width: 394px;
    height: auto;
    opacity: 1;
    color: #DBDBDB;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  height: 50vh;
  text-align: center;
}

.flex-item-left {
  padding: 10px;
  position: relative;
  height: 50vh;
  flex: 1;
  margin:auto;
}
.flex-item-middle{
position: relative;
padding: 10px;
height: 50vh;
overflow: hidden;
flex: 1;
margin:auto;
}

.flex-item-right {
  position: relative;
  height: 50vh;
  overflow: hidden;
  flex: 1;
  margin:auto;
}

.rightpic{
  width: 40%;
  position: absolute;
  left: -12%;
}
.pathimg {
  position: absolute;
  top: 12%;
  left: 100%;
  width: 30vh;
  height: auto;
  border: 2px solid var(--unnamed-color-ffffff);
  opacity: 1;
  }
.leftpic{
  width: 75%;
  position: absolute;
  left: 45%;

}
.body_img {
  overflow: hidden;
  height: 36vh;
}


.under-text {
  position: absolute;
  left: 40px;
  text-align: left;
  opacity: 1;
  color: #DBDBDB;
}

.upper {
  position: absolute;
  left: -35px;
  width: 70vh;
  top: 230px;
  text-transform: uppercase;
  opacity: 1;
  font-size: 14px;
  color: #DBDBDB;
}
.big-text {
  text-transform: capitalize;
  position: relative;
  -webkit-text-stroke-width: medium;
  top: -49px;
  letter-spacing: 5px;
  font-size: 44px;
}
.pagination {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: auto;
}

.pagination a {
  color: #DBDBDB;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  font-weight: 900;
}

.number {
  width: 60%;
  margin: 0 20px;
}
.arrow {
  width: 20%;
}

.social {
  width: 30%;
}
.social a {
  margin-left:40px;
}

.arr{
  width: 58px;
  height: 35px;
}
.solid1{
  position: relative;
  height: 1px;
  background-color: #FFFFFF;
  /* margin-left: 20px; */
  /* margin-top: 42px; */
  top: 42px;
  left: 2vh;
  width: 70%;
  opacity: 0.66;
}
.line {
  border-bottom: 2px solid #FFFFFF;
}

@media only screen and (max-width: 1115px) {
  .c {
    left: 748px;  
  }
  .d {
    left: 510px;  
  }
  .social a {
    margin-left:30px;
  }
  .pathimg {
    left: 115%;
    width: 20vh;
    }
    .arrow {
      display: flex;
  }
} 

